@model RepositorioGitHub.Dominio.ActionResult<RepositorioGitHub.Dominio.FavoriteViewModel>

@{
    ViewBag.Title = "Favorite";
}

<h2>Favoritos</h2>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Linguagem</th>
                <th>Última Atualização</th>
                <th>Proprietário</th>
            </tr>
            @if (Model?.Results != null)
            {
                foreach (var item in Model.Results)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Language)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastUpdate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Owner)
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</div>